<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/chofer/edit_chofer/{{chofer.ci_chofer}}" method="POST">
                        <div class="form-group">
                            <input type="text" name="ci_chofer" value= "{{chofer.ci_chofer}}" class="form-control" placeholder="Ci" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="nombre" value= "{{chofer.nombre}}" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellido"  value= "{{chofer.apellido}}" class="form-control" placeholder="Apellido">
                        </div>
                        <div class="form-group">
                            <input type="text" name="sexo" value= "{{chofer.sexo}}" class="form-control" placeholder="Sexo">
                        </div>
                        <div class="form-group">
                            <input type="text" name="edad" value= "{{chofer.edad}}" class="form-control" placeholder="Edad">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar nuevo Chofer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>