<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/rutas/edit_ruta/{{ruta.idruta}}" method="POST">
                        <div class="form-group">
                            <input type="text" name="salida" value= "{{ruta.salida}}" class="form-control" placeholder="Salida">
                        </div>
                        <div class="form-group">
                            <input type="text" name="destino"  value= "{{ruta.destino}}" class="form-control" placeholder="Destino">
                        </div>
                        <div class="form-group">
                            <input type="text" name="precio" value= "{{ruta.precio}}" class="form-control" placeholder="Precio">
                        </div>
                        <div class="form-group">
                            <p>Hora: <input type="time" name="hora"></p>
                        </div>
                        <div class="form-group">
                            <input type="text" name="chofer" value= "{{ruta.chofer}}" class="form-control" placeholder="1.- Chofer">
                        </div>
                        <div class="form-group">
                            <input type="text" name="chofer2" value= "{{ruta.chofer2}}" class="form-control" placeholder="2.- Chofer">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar nueva Ruta
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>