<center><h1>Lista de Rutas disponibles</h1></center>
<div class="container p-4">
    <div class="row">
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID Ruta</th>
      <th scope="col">Salida</th>
      <th scope="col">Destino</th>
      <th scope="col">Precio</th>
       <th scope="col">Hora</th>

    </tr>
  </thead>
  <tbody>

    {{#each rutas}}
    <tr>
      <td>{{idruta}}</td>
      <td>{{salida}}</td>
      <td>{{destino}}</td>
      <td>{{precio}}</td>
      <td>{{hora}}</td>
    </tr>
    {{/each}}
     </tbody>
</table>
<center>
    <a href="/venta/addventa" class="btn btn-success">Vender Boleto</a>
</center>
</div>
</div>