<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/empleado/edit_empleado/{{empleado.ci_empleado}}" method="POST">
                        <div class="form-group">
                            <input type="text" name="ci_empleado" value= "{{empleado.ci_empleado}}" class="form-control" placeholder="Ci" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="nombre" value= "{{empleado.nombre}}" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellido"  value= "{{empleado.apellido}}" class="form-control" placeholder="Apellido">
                        </div>
                        <div class="form-group">
                            <input type="text" name="sexo" value= "{{empleado.sexo}}" class="form-control" placeholder="Sexo">
                        </div>
                        <div class="form-group">
                            <input type="text" name="edad" value= "{{empleado.edad}}" class="form-control" placeholder="Edad">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar nuevo Empleado
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>