<div class="container p-4">
    <div class="row">
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Modelo</th>
      <th scope="col">Placa</th>
      <th scope="col">Numero De Asientos</th>
       <th scope="col">Año</th>
      <th scope="col">Modificar</th>

    </tr>
  </thead>
  <tbody>

    {{#each flota}}
    <tr>
      <td>{{id_flota}}</td>
      <td>{{modelo}}</td>
      <td>{{placa}}</td>
      <td>{{numero_asientos}}</td>
      <td>{{ano_autobus}}</td>
      <td>
      <a href="/flota/delete/{{id_flota}}" class="btn btn-danger">ELIMINAR</a>
      <a href="/flota/edit_flota/{{id_flota}}" class="btn btn-success">ACTUALIZAR</a>
      </td>
    </tr>
    {{else}}
         <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay flotas registradas aún</p>
                <a href="/flota/addflota">Registrar Nueva Flota</a>
            </div>
            <br>
        </div>
    {{/each}}
     </tbody>
</table>
</div>
</div>